html {
 font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
 font-family: 'Noto Serif JP', serif; /* this should be the rest of the output you got from Google fonts */
}
body {
 margin: 0 auto;
 padding: 10px 0 10px 0;
 border: 0 solid white;
 text-align: center;
}
/* ----------ナビグローバル設定---------- */
.gnav a:hover {
 border-bottom: 1px solid whitesmoke;
 color: blanchedalmond;
}
.gnav {
 padding: 0 0 30px 0;
 position: sticky;
 top: 0;
 left: 0;
}
/* ----------ナビ親階層---------- */
.gnav > ul {
 margin: 0;
 height: 4rem;
 padding: 0;
 display: flex;
}
.gnav ul li{
 list-style: none;
 position: relative;
 flex: 1;
 border: 0px solid #045FB4;
 background-color: #0064b5;
 width: 80%;
}
.gnav ul li:hover{
 background-color: steelblue;
}
.gnav ul li a{
 display: block;
 text-align: center;
 color: blanchedalmond;
 text-decoration: none;
 border-top: 3px solid white;
 font-family: 'Noto Sans JP', sans-serif;
}
/* ----------ナビ子階層---------- */
.gnav ul li ul li{
 height: 0;
 overflow: hidden;
 transition: .5s;
 left: -15%;
 background-color: #5094cc;
}
.gnav ul li:hover > ul > li{
 height: 4rem;
 overflow: visible;
 width: 115%;
}
/* ----------ナビ孫階層---------- */
.gnav ul li ul li ul{
 left: 95%;
 position: absolute;
 top: 0;
 width: 80%;
}
.gnav ul li ul li ul li{
 background-color: #63b9ff
}
/* ----------MENUタブ---------- */
.gnav > ul > li:nth-child(7){
 background-color: #b50064;
}
.gnav > ul > li:nth-child(7) > ul > li{
 left: -20%;
 background-color: #b52474
}
/* ----------タイトル---------- */
h1{
 font-size: 60px;
 text-align: center;
 margin: 0;
 padding: 100px 300px;
 height: 100px;
}
h1 a{
 color: brown;
 font-size: 60px;
 text-decoration: none;
 text-shadow: 3px 3px 1px gray;
}
/* ----------グローバル設定---------- */
p, li {
 font-size: 20px;    
 line-height: 4rem;
 letter-spacing: 3px;
}