html {
 font-size: 10px;
 font-family: 'Noto Serif JP', serif;
}
body {
 margin: 0 auto;
 padding: 10px 0 10px 0;
 border: 0 solid white;
 text-align: center;
}
/* ----------ナビグローバル設定---------- */
.gnav a:hover {
 border-bottom: 1px solid whitesmoke;
 color: blanchedalmond;
}
.gnav {
 padding: 0 0 30px 0;
 position: sticky;
 top: 0;
 left: 0;
}
/* ----------ナビ親階層---------- */
.gnav > ul {
 margin: 0;
 height: 4rem;
 padding: 0;
 display: flex;
}
.gnav ul li{
 list-style: none;
 position: relative;
 flex: 1;
 min-width: 150px;
 background-color: #0064b5;
}
.gnav ul li:hover{
 background-color: #5094cc;
}
.gnav ul li a{
 display: block;
 text-align: center;
 color: blanchedalmond;
 text-decoration: none;
 border-top: 3px solid white;
 font-family: 'Noto Sans JP', sans-serif;
}
/* ----------ナビ子階層---------- */
.gnav ul li ul li{
 height: 0;
 overflow: hidden;
 transition: .5s;
 left: 0;
}
.gnav ul li:hover > ul > li{
 height: 4rem;
 overflow: visible;
 left: 0;
 background-color: #5094cc;
}
.gnav ul li ul li:hover{
 background-color: #63b9ff;
}
/* ----------ナビ孫階層---------- */
.gnav ul li ul li ul{
 left: 90%;
 position: absolute;
 top: 0;
 width: 100%;
}
.gnav ul li:hover > ul > li > ul > li{
 background-color: #63b9ff;
}
.gnav ul li:hover > ul > li > ul > li:hover{
 background-color: #99d1ff;
}
/* ----------MENUタブ---------- */
.gnav > ul > li:nth-child(7){
 background-color: #b50064;
 flex: 0 0 30px;
}
.gnav > ul > li:nth-child(7) > ul > li{
 left: -20%;
 background-color: #b52474;
}
/* ----------タイトル---------- */
h1{
 font-size: 60px;
 text-align: center;
 margin: 0;
 padding: 100px 300px;
 height: 100px;
 min-width: 360px;
}
h1 a{
 color: brown;
 font-size: 60px;
 text-decoration: none;
 text-shadow: 3px 3px 1px gray;
}
/* ----------グローバル設定---------- */
p, li {
 font-size: 13px;    
 line-height: 4rem;
 letter-spacing: 3px;
}