html {
 font-size: 10px;
 font-family: 'Noto Serif JP', serif;
}
body {
 margin: 0 auto;
 padding: 10px 0 10px 0;
 text-align: center;
 min-width: 950px;
}
/* ----------ナビグローバル設定---------- */
.gnav a:hover {
 color: blanchedalmond;
}
.gnav {
 padding: 0 0 30px 0;
 position: sticky;
 top: 0;
 left: 0;
}
/* ----------ナビ親階層---------- */
.gnav > ul {
 margin: 0;
 height: 4rem;
 padding: 0;
 display: flex;
}
.gnav ul li{
 display: block;
 text-align: center;
 font-size: 13px;    
 line-height: 4rem;
 letter-spacing: 3px;
}
.n1{
 list-style: none;
 position: relative;
 flex: 1;
 background-color: #0064b5;
 min-width: 150px;
}
.n1:hover{
 background-color: #5094cc;
}
.gnav ul li a{
 color: blanchedalmond;
 text-decoration: none;
 font-family: 'Noto Sans JP', sans-serif;
 text-align: center;
}
/* ----------MENUタブ---------- */
.n2{
 list-style: none;
 position: relative;
 background-color: #b50064;
 max-width: 50px;
}
.n2.n_1{
 height: 0;
 overflow: hidden;
 transition: .5s;
 left: -140px;
 min-width: 150px;
}
.n2:hover > ul > li{
 height: 4rem;
 overflow: visible;
 left: -140px;
 min-width: 150px;
 background-color: #b54884;
}
/* ----------ナビ子階層---------- */
.n1.n_1{
 height: 0;
 overflow: hidden;
 transition: .5s;
 left: -2rem;
}
.n1:hover > ul > li{
 height: 4rem;
 overflow: visible;
 left: -2rem;
 background-color: #5094cc;
}
.n1 ul li:hover{
 background-color: #63b9ff;
}
/* ----------ナビ孫階層---------- */
.gnav ul li ul li ul{
 left: 90%;
 position: absolute;
 top: 0;
 width: 100%;
}
.gnav ul li:hover ul li ul li{
 background-color: #63b9ff;
}
.gnav ul li:hover > ul > li > ul > li:hover{
 background-color: #99d1ff;
}
/* ----------タイトル---------- */
h1{;
 text-align: center;
 margin: 0;
 padding: 100px 300px;
 height: 100px;
 min-width: 350px;
}
h1 a{
 color: brown;
 font-size: 58px;
 text-decoration: none;
 text-shadow: 3px 3px 1px gray;
}
/* ----------グローバル設定---------- */
p, li {
 font-size: 13px;    
 line-height: 4rem;
 letter-spacing: 3px;
}